snippet strt
	#include <iostream>

	int main(int argc, const char* argv[])
	{
	    ${0}
	    return 0;
	}
snippet sd
	std::
snippet st
	std::string 
snippet endl
	std::endl
#cout more
snippet cm
	<< 
snippet cbn
	<< "\n"
snippet bn
	\n
