snippet cm "Comment" i
{{--${1}--}}
endsnippet
snippet es "Escape (variable)" i
{!!$${1}!!}
endsnippet

snippet dst "Die with string in php tag" i
<?php dd('${1}');?>
endsnippet

snippet dvt "Die with varialbe in php tag" i
<?php dd($${1});?>
endsnippet
