snippet strt "start a c++ program" 
#include <iostream>

using namespace std;

int main(int argc, const char* argv[])
{
    ${1}
    return 0;
}
endsnippet

snippet endl "standard endline" i
std::endl
endsnippet

snippet cbn "cout backslash n" i
<< "\n"
endsnippet

snippet for "for loop" i
for(${1}) {
	${2}
}
endsnippet
