snippet strt "start a c++ program" 
#include <iostream>

int main(int argc, const char* argv[])
{
    ${1}
    return 0;
}
endsnippet

snippet sd "namespace std" i
std::
endsnippet

snippet st "standard string" i
std::string 
endsnippet

snippet endl "standard endline" i
std::endl
endsnippet

snippet cbn "cout backslash n" i
<< "\n"
endsnippet
